{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block style %}
<style>
.contact-form-toast {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
</style>  
{% endblock %}

{% block body %}
<div class="container my-2">
    <h2 class="mb-3">Contact Us</h2>
   <!-- toast -->
    <div class="contact-form-toast toast-container position-fixed p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">Thanks for contacting us.</div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <form action="{% url 'shop:contact' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone" id="phone" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">How May We Help You?</label>
            <textarea class="form-control" name="desc" id="desc" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    const toastLiveExample = document.getElementById('liveToast')
    if (Boolean("{{is_form_submitted}}" == "yes")) {
        const toast = new bootstrap.Toast(toastLiveExample)
        toast.show()
        setTimeout(function(){
            document.location = "{% url 'shop:contact' %}"
        }, 1500)
    }
</script>
{% endblock %}