{% extends 'base.html' %}

{% block title %} shop home page {% endblock %}

{% block style %}
<style>
  .product-swiper {
    padding-bottom: 30px;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next) {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 50%;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 30px;
    font-weight: 600;
    color: #fff !important;
  }

  .product-swiper .swiper-pagination {
    bottom: 0;
  }

  .product-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 3px;
  }
</style>  
{% endblock %}

{% block body %}
<div class="container my-2">
  {% for products in products_all %}
    <!-- Slider main container -->
    <h2>{{products.0.category|title}}</h2>
    <div class="swiper product-swiper my-4">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide card">
            <div class="overflow-hidden">
              <img src="{{product.image.url}}" class="card-img-top" alt="{{product.brand}}">
            </div>
            <div class="card-body">
              <h5 class="card-title text-truncate">{{ product.title }}</h5>
              <p class="card-text truncate-2">{{ product.desc }}</p>
              <button id="pr{{product.id}}" data-image="{{product.image.url}}" data-title="{{product.title}}" data-price="{{product.price}}" class="btn btn-primary add-to-cart">Add To Cart</button>
              <!-- <a href="#" class="btn btn-primary">View More</a> -->
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  // swiper
  const swiper = new Swiper('.swiper.product-swiper', {
    loop: true,
    // autoplay: {
    //   delay: 2500,
    //   disableOnInteraction: false,
    // },
    slidesPerView: 4,
    slidesPerGroup: 4,
    spaceBetween: 20,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  // add to cart
  $('.add-to-cart').click(function() {
    let id = this.id
    let title = this.dataset.title
    let image = this.dataset.image
    let price = this.dataset.price
    
    let item = cart.find((item) => item.id == id)

    if (!item) {
      cart.push({id, title, price, image, quantity: 1})
    } else {
      cart.forEach(function(i,idx) {
        if (i.id == item.id) {
          cart[idx]['quantity'] += 1
        }
      })
    }

    let count = 0
    for(let i in cart) {
      count += cart[i]['quantity']
    }

    $("#cartCount").html(count < 100 ? count : "99<sup>+</sup>")
    localStorage.setItem('cart', JSON.stringify(cart))
  })
</script>
{% endblock %}
