{% extends 'base.html' %}

{% load static %}

{% block title %} WebKart {% endblock %}

{% block style %}
<style>
  .product-swiper {
    padding-bottom: 30px;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next) {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 50%;
  }

  .product-swiper :is(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 30px;
    font-weight: 600;
    color: #fff !important;
  }

  .product-swiper .swiper-pagination {
    bottom: 0;
  }

  .product-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 3px;
  }
</style>  
{% endblock %}

{% block body %}
<div class="container my-2">
  {% for products in products_all %}
    <!-- Slider main container -->
    <h2>{{products.0.category|title}}</h2>
    <div class="swiper product-swiper my-4">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide card">
            <div class="overflow-hidden p-2">
              <img src="{{product.image.url}}" class="card-img-top" alt="{{product.brand}}">
            </div>
            <div class="card-body">
              <h5 class="card-title text-truncate mb-1">{{ product.title }}</h5>
              <p class="card-text mb-1 text-muted">₹<span class="product-price">{{ product.price }}</span></p>
              <p class="card-text truncate-2">{{ product.desc }}</p>
              <button id="pr{{product.id}}" data-image="{{product.image.url}}" data-title="{{product.title}}" data-price="{{product.price}}" class="btn btn-primary add-to-cart me-1">Add To Cart</button>
              <a href="{% url 'shop:viewproduct' product.id %}" class="btn btn-primary">View More</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="module">
  import {convertToIndianRupees} from "{% static 'js/utils_functions.js' %}"

  // swiper configuration
  const swiper = new Swiper('.swiper.product-swiper', {
    loop: true,
    // autoplay: {
    //   delay: 2500,
    //   disableOnInteraction: false,
    // },
    slidesPerView: 4,
    slidesPerGroup: 4,
    spaceBetween: 20,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  // format product price
    document.querySelectorAll(".product-price").forEach(function(item) {
      let inr_format = convertToIndianRupees(+item.innerHTML)
      item.innerHTML = inr_format
    })
</script>
{% endblock %}
