{% extends 'base.html' %}

{% load static %}

{% block title %} View Cart {% endblock %}

{% block body %}
<div class="container">
    <h3 class='my-3 text-capitalize'>track your order</h3>
    <form class="row g-3" id="trackerForm" action="{% url 'shop:tracker' %}" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="orderId" class="form-label">Order Id</label>
            <input type="text" name="orderId" class="form-control" id="orderId" required>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Track Order</button>
        </div>
    </form>
    <div class="row g-4 my-3" id="orderCheckContainer">
        <div class="col-md-6">
            <div id="orderDetailsContainer"></div>
        </div>
        <div class="col-md-6">
            <div id="orderStatusContainer"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module">
    import {formatStrToDate} from "{% static 'js/utils_functions.js' %}"

    function showOrderStatus() {
        // let elem = ""
        
        $('#trackerForm').submit(function(e) {
            e.preventDefault()

            let formData = {
                orderId: this.orderId.value.trim(),
                email: this.email.value.trim(),
                csrfmiddlewaretoken: this.csrfmiddlewaretoken.value
            }
            
            $.ajax({
                type: 'POST',
                url: "{% url 'shop:tracker' %}",
                data: formData,
                encode: true
            })
            .done(function(res) {
                $(e.target).trigger('reset')
                $(e.target).find('*').blur()

                let data = JSON.parse(res)
                let orderUpdates = data?.updates
                let orderDetails = JSON.parse(data?.orderDetails)
                let order_update_elem = ""
                let order_details_elem = ""
                
                if (orderUpdates?.length) {
                    order_update_elem += `<h3 class='mb-3 text-capitalize'>order status</h3>`
                    orderUpdates.forEach(item => {
                        order_update_elem += `
                            <div class="ps-2 mb-3 border-start border-4 border-primary">
                                <h6 class="text-truncate mb-1">${item.text}</h6>
                                <p class="text-muted fs12 mb-0">${formatStrToDate(item.date)}</p>
                            </div>
                            `
                    });
                    
                    order_details_elem += `<h3 class='mb-3 text-capitalize'>order details</h3>`
                    orderDetails.forEach(item => {
                        order_details_elem += `
                            <div class="d-flex gap-2 border rounded mb-2">
                                <div class="flex-shrink-0">
                                    <img src="${item.image}" style='height:60px' class="img-fluid rounded-start" alt="${item.title}">
                                </div>
                                <div class="p-2 text-truncate">
                                    <h6 class="text-truncate">${item.title}</h6>
                                    <p class="text-muted m-0 fs12">Qty: ${item.quantity}</p>
                                </div>
                            </div>
                            `
                    });  
                } else {
                    order_details_elem = `<p>Sorry, we are not able to fetch this order id and email. make sure to type correct order id and email</p>`
                }
                $("#orderStatusContainer").html(order_update_elem)
                $("#orderDetailsContainer").html(order_details_elem)
            })
        })
    }

    showOrderStatus()
</script>
{% endblock %}